body,html{
    height: 100%;
    margin: 0;
    font-family: Verdana, Geneva, sans-serif;
}
a{
    margin-left: 30px;
}
.container{
    display: block;
    padding-top: 90px;
    box-sizing: border-box;
}
.left-content{
    position: fixed;
}

.ved{
    padding-left: 200px;
}
.fle{
    display: flex;
}
.right-content{
    float: right;   
    border-left: 8px solid #ff8080;
}
@media only screen and (max-width: 450px){
  body{
      padding: 0%;
      width: 390px;
  }
  .container{
      padding: 0%;
      padding-top: 120px;
  }
  .left-content{
      position: relative;
  }  
  .img1{
      width: 320px;
  }
  .right-content{
      border: none;
      padding: 0%;
  }
  .ved{
      padding-left: 0px;
      padding-top: 30px;
  }
  .fle{
      display: block;
  }
  .change{
      font-size: 35px;
  }
}

@media only screen and (max-width: 900px) and (min-width: 450px){
    body{
        padding: 0%;
        width: 550px;
    }
    .container{
        padding: 0%;
        padding-top: 120px;
    }
    .left-content{
        position: relative;
    }  
    .img1{
        width: 500px;
    }
    .right-content{
        border: none;
        padding: 0%;
    }
    .ved{
        padding-left: 35px;
        padding-top: 30px;
    }
    .fle{
        display: block;
    }
    .change{
        font-size: 40px;
    }
  }
@media only screen and (min-width: 700px)
{
    .mar{
        margin-top: 1200px;
    }
    .m{
        margin-top:6700px;
    }
    .ma{
        margin-top: 2000px;
    }
}
  h1, .heading{
    font-family: 'Raleway', sans-serif;
    color: #262161;
}
.anchor{
    margin-left: 0%;
}
.comm{
    color: white;
    background-color: #3d3d29;
}
